body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
p {
  font-family: "Times New Roman";
  font-style: normal;
  font-size: 20px;
}
/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

footer {
   position:fixed;
   bottom:0;
   left:50%
   margin-left:-200px
   width:100%;
   height:40px;   /* Height of the footer */
   background:#f7f9f9;
}
